body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #FE4553;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track-piece{
    background-color: #101823;
    border-left: 1px solid #FE4553;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal{
    background-color: #FE4553;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover{
    background-color: white;
}

/* HEADER */
.header{
    width: 100%;
    height: 20vh;
    background: #101823;
    display: flex;
    justify-content: space-between;
    
}

.container {
    width: 10vw;
    background-size: cover;
    height: 100%;
    /* padding: 5px; */
}

.navbar{
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar ul{
    display: flex;
    flex-direction: row;    
}
.navbar ul li{
    justify-content: space-around;
    padding: 5px;
    list-style: none;
    width: 55px;
    justify-content: center;
    text-align: center;
}
.navbar ul li a{
    text-decoration: none;
    color: #FE4553;
}
.navbar button{
    display: flex;
    align-items: center;
    height: 30%;
    width: 25%;
    padding: 5px 30px 5px 30px;
    border-radius: 1px;
    border-color: #FE4553;
    color: #FE4553;
    background-color: Transparent;
    background-repeat:no-repeat;
}
.navbar button a{
    color: #FE4553;
}

/* BANNER */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/VALORANTcypher.jpg);
    background-size: cover;
}


.sobre{
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.sobre h3{
    display: flex;
    margin-left: 52%;
    line-height: 75px;
    font-size: 40px;
    color: #FE4553;
}

.sobre label{
    display: flex;
    margin-left: 52%;
    line-height: 80px;
    font-size: 38px;
    color: #FE4553;
}

.sobre p{
    display: flex;
    margin-left: 52%;
    line-height: 80px;
    font-size: 42px;
    color: #FE4553;
    top: 1065px;
    left: 100vh;
    font-size: 31px;
    /* font-weight: 400; */
    line-height: 41px;
    
    color: #FE4553;
    text-align: center;
    margin-bottom: 100px;
}

.socio{
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.socio h3{
    margin-block-start: -50%;
    justify-content: flex-start;
    display: flex;
    margin-right: 60%;
    line-height: 75px;
    font-size: 40px;
    color: #101823;
}

.socio p{
    margin-block-start: -10px;
    display: flex;
    margin-right: 60%;
    line-height: 80px;
    font-size: 31px;
    /* font-weight: 400; */
    line-height: 41px;
    
    color: white;
    text-align: center;
    margin-bottom: 100px;

}


/* SOCIAL */

.caixas{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-around;
}

.caixa{
    width: 19vw;
    height: 39vh;
    background-color: #101823;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
}

.caixa h2{
    color: #FE4553;
    text-align: center;
    font-size: 20px;
}

.caixa .img1{
    background-image: url(../assets/viper.jpg);
    width: 17vw;
    height: 28vh;
    background-size: 30vw;
    background-position: 30%;
    border-radius: 10px;
}

.caixa .img2{
    background-image: url(../assets/jett.jpg);
    width: 17vw;
    height: 28vh;
    background-size: 30vw;
    background-position: 30%;
    border-radius: 10px;
}

.caixa .img3{
    background-image: url(../assets/sage.jpg);
    width: 17vw;
    height: 28vh;
    background-size: 30vw;
    background-position: 30%;
    border-radius: 10px;
}

.caixa .img4{
    background-image: url(../assets/raze.jpg);
    width: 17vw;
    height: 28vh;
    background-size: 30vw;
    background-position: 30%;
    border-radius: 10px;
}

.caixa .img5{
    background-image: url(../assets/FADE.jpg);
    width: 17vw;
    height: 28vh;
    background-size: 30vw;
    background-position: 40%;
    border-radius: 10px;
}
/* PARTE 2 */
.box2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: -5px;
    margin-top: 5px;
}

.box{
    width: 19vw;
    height: 39vh;
    background-color: #101823;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px; 
}

.box h2{
    color: #FE4553;
    text-align: center;
    font-size: 20px;
}

.box .img6{
    background-image: url(../assets/astra.jpg);
    width: 18vw;
    height: 27vh;
    background-size: 30vw;
    background-position: 30%;
    border-radius: 10px;
}

.box .img7{
    background-image: url(../assets/breach.jpg);
    width: 18vw;
    height: 27vh;
    background-size: 30vw;
    /* background-position: 30%; */
    border-radius: 10px;
}

.box .img8{
    background-image: url(../assets/skye.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img9{
    background-image: url(../assets/chamber.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img10{
    background-image: url(../assets/killjoy.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

/* PARTE 3 */
.box3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: -5px;
    margin-top: 9px;
}

.box{
    width: 19vw;
    height: 39vh;
    background-color: #101823;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px; 
}

.box .img11{
    background-image: url(../assets/brimstone.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img12{
    background-image: url(../assets/reyna.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img13{
    background-image: url(../assets/omen.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img14{
    background-image: url(../assets/neon.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img15{
    background-image: url(../assets/phoenix.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

/* PARTE 4 */
.box4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: -5px;
    margin-top: 9px;
}

.box{
    width: 19vw;
    height: 39vh;
    background-color: #101823;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px; 
}

.box .img16{
    background-image: url(../assets/harbor.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img17{
    background-image: url(../assets/kayo.png);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img18{
    background-image: url(../assets/sova.jpg);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}

.box .img19{
    background-image: url(../assets/yuro.png);
    width: 18vw;
    height: 29vh;
    background-size: 30vw;
    background-position: 40%;
    background-clip: content-box;
    border-radius: 10px;
}


/* FOOTER */
.footer{
    width: 100%;
    height: 20vh;
    background: #101823;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.footer p{
    padding: 10px;
    margin-left: 37%;
    width: 100%;
    margin-top: 70px;
    color: #FE4553;
}

.logo img{
    padding: 2px;
    display: flex;
    margin-top: 4px;
    margin-left: 10px;
}